# Default ignored files
/../../HSE_Olga_Antonenko /.idea/shelf/
/../../HSE_Olga_Antonenko /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../HSE_Olga_Antonenko /.idea/httpRequests/
# Datasource local storage ignored files
/../../HSE_Olga_Antonenko /.idea/dataSources/
/../../HSE_Olga_Antonenko /.idea/dataSources.local.xml
